$colors: blue, red, yelloww, green;

.card {
  border: 0.5px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 5px var(--c-lightgray);
  color: var(--c-gray);

  &__title {
    margin: 0;
    color: var(--c-black);
  }

  &__description {
    margin: 0;
  }

  &__image {
    width: 45px;
    height: 45px;
    align-self: flex-end;
    margin-top: auto;
  }

  @each $color in $colors { 
    &.#{$color} {
      border-top: 5px solid var(--c-#{$color}); 
    }
  }

  @media (min-width: $large) {
    max-width: 200px;
    height: 200px;
  }

  @media (min-width: $xxlarge) {
    max-width: 280px;
  }

  @media (min-width: $xlarge) {
    max-width: 340px;
  }

}
