:root {
  --f-prymary: 'Oxygen';
  --c-gray: #808080;
  --c-lightgray: #ece7e7;
  --c-black: #000000;
  --c-blue: #1a9fb1;
  --c-red: #d62424;
  --c-yelloww: #ffc400;
  --c-green: #2378d8;
}
$large: 992px;
$xxlarge: 1200px;
$xlarge: 1400px;

