.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 330px;

  @media (min-width: $large) {
    height: 85%;
    justify-content: space-around;
  }

  @media (min-width: $xlarge) {
    height: 90%;
  }
}
