.container {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin: 0 5%;

  @media (min-width: $large) {
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    max-width: 800px;
  }

  @media (min-width: $xxlarge) {
    max-width: 1080px;
  }

  @media (min-width: $xlarge) {
    max-width: 1200px;
  }
}
