.container {
  display: flex;
  flex-direction: column;
  font-family: var(--f-oxygen);
  line-height: 1.5;
  margin: 5px;

  @media (min-width: $large) {
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
}
