.content {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 815px;

  @media (min-width: $large) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
